@charset "utf-8";
/* CSS Document */

html{}

@media(max-width: 768px){
  html, body{height:100%; color:rgba(109,81,117,1.00)}
}

#container-charts{
  position:relative;
  display:flex;
  flex-direction:column;
  z-index:1000;
  height:100vh;
  width:100vw;
  overflow-x:hidden;
  overflow-y:scroll;
  left:0;
  right:0;
  background: rgba(38,38,38,1.00);
}

@media(max-width:767px){
 #container-charts{
   overflow-y:initial;
 }
}
/* ----------------------------- */
/* ------ Header Styles -------- */
/* ----------------------------- */
.container-header{
  height:auto;
  flex-shrink:0;
  padding: 10px 0;
  background: #151515;
}
.container-header h1{
  margin:0;
  padding:0;
  color: #fff;
  font-size:30px;
  line-height:45px;
  text-align:center;
}
.container-header h1 img{
  position:relative;
  display:inline-block;
  width:50px;
  margin:0 0 0 25px;
}
.mainNav{
 position:absolute;
 top:22.5px;
 left:10px;
 height:auto;
 width:auto;
 z-index:3000;
}

.mainNav a{
 position:relative;
 display:block;
 height:22px;
 width:20px;
 color:#fff;
 font-weight:600;
 text-decoration:none !important;
 background-image:url("../img/back-active.png");
 background-position: center;
 background-repeat: no-repeat; 
 background-size: contain;
 opacity:.7;
  transition:.3s ease opacity;
}
.mainNav a:after{
  content:"Back";
  position:relative;
  margin-left:-0%;
  font-size:16px;
  line-height:20px;
  padding:0;
  text-decoration:none !important;
  opacity:0;
  transition:.3s ease all;
}
.mainNav a:hover,
.mainNav a:focus{
 color:#fff;
 font-weight:600;
 opacity:1;
  transition:.3s ease opacity;
}
.mainNav a:hover:after{
  margin-left:120%;
  opacity:1;
    transition:.3s ease all;
}

@media(max-width: 768px){
  .container-header h1{
    font-size:22px;
    line-height:30px;
  }
  .container-header h1 img{
    width:30px;
  }
  .mainNav{
   position:absolute;
   top:15px;
   left:2vw;
   height:auto;
   width:auto;
   z-index:3000;
  }
}

/* ----------------------------- */
/* ------ Chart Styles --------- */
/* ----------------------------- */



.container-toggle-tabs {
  position:relative;
  display:block;
  z-index:2000;
  order:1;
  flex-grow:0;
  flex-shrink:0;
  height:7.5%;
  width:100%;
  padding:0 !important;
  margin:0 !important;
  background: #151515;
}
.box-toggle-tabs{
  position:relative;
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content: center;
  width: 100%;
  height:100%;
  padding:0 !important;
  margin:0 !important;
  background: #151515;
}

.toggle-tab {
  position:relative;
  display:block;
  flex-grow:0;
  flex-basis:15%;
  align-self:flex-end;
  min-width:150px;
  max-width:300px;
  padding:0px;
  height:36px;
  margin: 0;
  line-height:36px;
  list-style: none;
  text-align:center;
  color:rgba(255,255,255,0.47);
  background: rgba(38,38,38,.4);
  border:1px solid rgba(38,38,38,.3);
  font-weight:600;
  cursor:pointer;
  border-radius:4px 4px 0 0;
  outline:none !important;
   box-shadow: 0 -1px 1px 0 rgba(0,0,0,0),
               0 -1px 1px 0 rgba(0,0,0,.1) inset;
    transition: .2s ease-out height .1s, .05s ease background, .05s ease color;
}
.toggle-tab:hover,
.toggle-tab:focus{
  height:38px;
  line-height:38px;
  color:rgba(255,255,255,0.7);
  background: rgba(38,38,38,.6);
  border:1px solid rgba(38,38,38,0);
    box-shadow: 0 -1px 1px 0 rgba(0,0,0,0.1);
    transition: .05s ease-in height, .05s ease background, .1s ease color;
}
  
.toggle-tab.active-tab,
.toggle-tab.active-tab:hover,
.toggle-tab.active-tab:focus {
  z-index:3020 !important;
  height:40px  !important;
  line-height:40px !important;
  color:rgba(255,255,255,1);
  background: rgba(38,38,38,1);
    box-shadow: 0 -1px 1px 0 rgba(0,0,0,0.5), 0 -2px 1px 1px rgba(0,0,0,0.1);
}

.toggle-tab.active-tab:focus:after {
  content:"";
  position:absolute;
  left:40%;
  bottom:10%;
  height:2px;
  width:20%;
  background:rgba(255,255,255,.2);
}

.toggle-tab .new-tag{
/* content:"NEW";
 position:absolute;*/
 position:relative;
 display:inline-block;
 color:red;
 font-size:8px;
}

.tab-content {order: 3 !important; display:none !important; }
.tab-content.active-tab-content {order:2 !important; display:block !important;}

.stdcharts{
  position:relative;
  z-index:3000 !important; 
  height:80vh;
  flex-shrink:2;
  flex-grow:0;
  width: 80vw;
  max-height: calc(80vw * .75);
  margin:0 auto!important;
  padding: 30px 0;
  background: rgba(38,38,38,1);
 }
 
#cntychart,
#cntydthchart,
#dailychart,
#cumulchart {
   min-height:60vh !important;
   max-height: calc(80vw * .65);
 }
 

.stdcharts canvas{
  width:100%;
  height:100%;
  margin:0 auto;
  padding:0;
}

#cumulchart {}
#dailychart {}

@media(max-width: 992px){
  .toggle-tab {
    flex-basis:18%;
    font-size:14px;
  }  
}

@media(max-width: 768px){
  .toggle-tab {
    flex-basis:20%;
    min-width:initial;
    font-size:12px;
  }  
 
  .stdcharts{
    display:block;
    width: 97vw;
    max-height: calc(95vw * 1.1);
    padding: 15px 0;
  }
  
  #cntychart,
  #cntydthchart,
  #dailychart,
  #cumulchart {
    max-height: calc(95vw * 1);
  } 
}

@media (max-width: 575px){
  .toggle-tab {
   flex-basis:20%;
    min-width:initial;
    height:36px;
    font-size:12px;
    line-height:14px;
    padding:4px 0;
    margin: 0;
     box-shadow: 0 -1px 1px 0 rgba(0,0,0,0),
                 0 -1px 1px 0 rgba(0,0,0,.1) inset;
      transition: .2s ease-out height .1s, .05s ease background, .05s ease color;
  }
  .toggle-tab:hover,
  .toggle-tab:focus{
    height:38px;
    padding:5px 0;
    line-height:14px;
      transition: .05s ease-in height, .05s ease background, .1s ease color;
  }
    
  .toggle-tab.active-tab,
  .toggle-tab.active-tab:hover,
  .toggle-tab.active-tab:focus {
    height:40px  !important;
    padding:6px 0;
    line-height:14px !important;
      box-shadow: 0 -1px 1px 0 rgba(0,0,0,0.5), 0 -2px 1px 1px rgba(0,0,0,0.1);
  }
  .stdcharts{
    padding: 1vh 0;
  }

}



/*--- Cumulative & Daily Chart Custom Legends --- */
#legendContainerCumul,
#legendContainerDaily{
  width:100%;
  height:auto;
  z-index:3000;
  margin:15px auto 7.5px auto;
}
#legendContainerCumul{
  max-width:600px;
}

#legendContainerDaily{
  max-width:500px;
}

#legendContainerCumul> ul,
#legendContainerDaily> ul{
  display:flex;
  justify-content:center;
  flex-flow: row wrap;
  padding:0;
}

/* Daily Chart Legend Items + Text Style */
#legendContainerCumul li,
#legendContainerDaily li {
  display:block;
  flex-grow:0;
  cursor: pointer;
  margin:0 0 0 0;
  padding:5px 0;
  color:#fff;
  font-size:16px;
  font-weight:400;
}

#legendContainerCumul li.hiddentrue,
#legendContainerDaily li.hiddentrue{
  color:rgba(255,255,255,0.5)
} 

#legendContainerCumul li:hover,
#legendContainerDaily li:hover {
  text-decoration:underline;
}

#legendContainerCumul li {
  flex-basis:25%;
}

#legendContainerDaily li {
  flex-basis:30%;
}

/*Fixing the order of the legend listings*/
#legendContainerDaily li:nth-child(1) {order:4;}
#legendContainerDaily li:nth-child(2) {order:5;}
#legendContainerDaily li:nth-child(3) {order:6;}

#legendContainerDaily li:nth-child(4) {order:1;}
#legendContainerDaily li:nth-child(5) {order:2;}
#legendContainerDaily li:nth-child(6) {order:3;}


/* - Daily Legend Item Shape Style (Also ".legendSquareDaily") - */
#legendContainerCumul li span,
#legendContainerDaily li span {
  position: relative;
  display:inline-block;
  margin:0 5px -1px 0;
  padding: 0;
  height:14px;
  width:14px;
  z-index: 1000;
  border:2px solid;
  border-radius:50%;
  transition:.1s ease background;
}


#legendContainerCumul li:hover span,
#legendContainerDaily li:hover span{
  border:2px solid;
  filter:brightness(90%);
}

#legendContainerCumul li.hiddentrue span,
#legendContainerDaily li.hiddentrue span {
  border:2px solid;
  background:transparent !important;
  filter:brightness(60%);
}

#legendContainerCumul li.hiddentrue:hover span,
#legendContainerDaily li.hiddentrue:hover span {
    filter:brightness(80%);
}

#legendContainerDaily li:nth-child(1) span {border-radius:50%;}
#legendContainerDaily li:nth-child(2) span {border-radius:50%;}
#legendContainerDaily li:nth-child(3) span {border-radius:50%;}

#legendContainerDaily li:nth-child(4) span {border-radius:0%;}
#legendContainerDaily li:nth-child(5) span {border-radius:0%;}
#legendContainerDaily li:nth-child(6) span {border-radius:0%;}


@media (max-width: 991px){
  #legendContainerDaily li {
    flex-basis:33%;
  }
}

@media (max-width: 767px){
  #legendContainerDaily li {
    flex-basis:33%;
  }
}

@media (max-width: 575px){
  #legendContainerCumul> ul,
  #legendContainerDaily> ul{
    padding:0 2%;
  }

  #legendContainerCumul> ul{
    justify-content:flex-start;
  }

  #legendContainerCumul li,
  #legendContainerDaily li {
    padding:5px 0;
    font-size:14px;
  }
  
  #legendContainerCumul li {
    flex-basis:33%;
  }

  #legendContainerDaily li {
    flex-basis:33%;
  }

}



/*--- County Chart Custom Legend --- */
#legendContainerCnty,
#legendContainerCntyDth{
  width:100%;     
  height:auto;
  z-index:3000;
}

#legendContainerCnty> ul,
#legendContainerCntyDth> ul{
  display:flex;
  justify-content:space-between;
  flex-wrap: wrap;
  padding:0 1vw;
}

#boxToggleCntyOff,
#boxToggleCntyDthOff{
  width:100%;
  padding:15px 0 7.5px 0;
}

#toggleCntyOff,
#toggleCntyDthOff{
  display:inline-block;
  z-index:3003; 
  padding:4px 7.5px; 
  font-size:15px; 
  font-weight:500; 
  color:#ccc; 
  
  border:2px solid #ccc;
  border-radius:4px;
  background:transparent;
}
#toggleCntyOff:before,
#toggleCntyDthOff:before{
  content:"\\";
  position:relative;
  display:inline-block;
  margin-right:5px;
  height:14px;
  width:14px;
  font-size:14px;
  font-weight:500;
  line-height:10px;
  color:#ccc;
  
  border:2px solid #ccc;   
  text-align:center;
  border-radius:50%;
}

/* County Chart Legend Items + Text Style (Also ".legendItemCnty") */
#legendContainerCnty li,
#legendContainerCntyDth li {
  display:block;
  flex-basis:20%;
  flex-grow:0;
  cursor: pointer;
  margin:0 0 0 0;
  color:#fff;
  font-size:16px;
  font-weight:400;
}

#legendContainerCnty li:last-child,
#legendContainerCntyDth li:last-child {
  flex-grow:2 !important;
}

/* - Legend Item Circle Style (Also ".legendCircleCnty") - */
#legendContainerCnty li span,
#legendContainerCntyDth li span {
  position: relative;
  display:inline-block;
  margin:0 5px 0 0;
  padding: 0;
  height:14px;
  width:14px;
  border-radius: 13px;
  z-index: 1000;
}

#legendContainerCnty li.hiddentrue span,
#legendContainerCntyDth li.hiddentrue span {
  border:2px solid;
  background:transparent !important;
}


@media (max-width: 991px){
  #legendContainerCnty li,
  #legendContainerCntyDth li {
    flex-basis:25%;
  }

}

@media (max-width: 767px){
  #legendContainerCnty li,
  #legendContainerCntyDth li {
    flex-basis:33%;
    font-size:16px;
  }
}

@media (max-width: 575px){
  #boxToggleCntyOff,
  #boxToggleCntyDthOff{
    padding:15px 0 7.5px 3%;
  }
  #toggleCntyOff,
  #toggleCntyDthOff{
    padding:2px 5px; 
    font-size:13px; 
    border:1px solid #ccc;
    border-radius:4px;
    background:transparent;
  }
  
  #toggleCntyOff:before,
  #toggleCntyDthOff:before{
    margin-right:3px;
    height:12px;
    width:12px;
    font-size:12px;
    line-height:8px;
  }

  #legendContainerCnty> ul,
  #legendContainerCntyDth> ul{
    padding:0 4%;
  }

  #legendContainerCnty li,
  #legendContainerCntyDth li {
    padding:2.5px 0;
    flex-basis:42%;
    font-size:14px;
  }
  #legendContainerCnty li:last-child,
  #legendContainerCntyDth li:last-child {
    flex-grow:0 !important;
  }
}





