@charset "utf-8";
/* CSS Document */

html{}

@media(max-width: 768px){
  html, body{height:100%; color:rgba(109,81,117,1.00)}
}

#container-charts{
  position:relative;
  /*Flex Child Positioning*/
  display:flex;
  flex-flow:column nowrap;
  z-index:1000;
  height:100vh;
  width:100vw;
  overflow-x:hidden;
  overflow-y:scroll;
  left:0;
  right:0;
  background: rgba(38,38,38,1)
}

@media(max-width:767px){
 #container-charts{
   overflow-y:initial;
 }
}
/* ----------------------------- */
/* ------ Header Styles -------- */
/* ----------------------------- */
.container-header{
  position:relative;
  /*Flex Self Positioning*/
  order:1;
  flex-basis:70px;
  flex-shrink:0;
  padding: 10px 0;
  background: rgba(38,38,38,1);
  border-bottom:1px solid rgba(255,255,255,.1);
}

.container-header h1{
  margin:0 0 0 50px;
  padding:0;
  color: #fff;
  font-size:30px;
  line-height:45px;
  text-align:left;
}
.container-header h1 img{
  position:relative;
  display:inline-block;
  width:50px;
  margin:0 0 0 25px;
  font-size:0px;
}
.mainNav{
 position:absolute;
 top:22.5px;
 left:10px;
 height:auto;
 width:auto;
 z-index:3000;
}

.mainNav a{
 position:relative;
 display:block;
 height:22px;
 width:20px;
 color:#fff;
 font-weight:600;
 text-decoration:none !important;
 background-image:url("../img/back-active.png");
 background-position: center;
 background-repeat: no-repeat; 
 background-size: contain;
 opacity:.7;
  transition:.3s ease opacity;
}
.mainNav a:after{
  content:"Back";
  position:relative;
  margin-left:-0%;
  font-size:16px;
  line-height:20px;
  padding:0;
  text-decoration:none !important;
  opacity:0;
  transition:.3s ease all;
}
.mainNav a:hover,
.mainNav a:focus{
 color:#fff;
 font-weight:600;
 opacity:1;
  transition:.3s ease opacity;
}
.mainNav a:hover:after{
  margin-left:120%;
  opacity:1;
    transition:.3s ease all;
}

@media(max-width: 768px){
  .container-header{
    flex-basis:65px;
    padding: 0px 0;
  }
  .container-header h1{
    margin:0px;
    font-size:22px;
    line-height:65px;
    text-align:center;
  }
  .container-header h1 img{
    width:36px;
    margin:0 0 0 15px;
  }
  .mainNav{
   top:22.5px;
   left:2vw;
   height:auto;
   width:auto;
   z-index:3000;
  }
}

/* ----------------------------- */
/* ------ Chart Styles --------- */
/* ----------------------------- */

.container-chart-area {
  position:relative;
  display:block;
  order:2;
  flex-grow:0;
  flex-shrink:1;
  flex-basis:100%;
  padding:0vh 0 0 0 !important;
  margin:0 !important;
  background: transparent;
}

.container-toggle-tabs{
  position:relative;
  float:left;
  width:180px;
  height:100%;
  background: rgba(21,21,21,1.00)
}
.box-toggle-tabs{
  position:relative;
  /*Flex Child Positioning*/
  display:flex;
  flex-direction:column;
  flex-wrap:nowrap;
  justify-content: flex-start;
  /*Flex Self Positioning*/
  /*flex-basis:180px;
  flex-grow:0;
  flex-shrink:0;*/
  width:100%;
  height:100%;
  padding:0 !important;
  margin:0 !important;
  z-index:4000;
  background: rgba(21,21,21,1.00)
}

.toggle-tab {
  position:relative;
  display:block;
  /*Flex Self Positioning*/
  flex-grow:0;
  flex-basis:40px;
  align-self:flex-start;
  width:100%;
  padding:0 15px;
  margin: 0;
  line-height:40px;
  list-style: none;
  text-align:left;
  font-weight:500;
  color:rgba(255,255,255,0.6);
  background: rgba(38,38,38,.1);
  border:1px solid rgba(38,38,38,.3);
  cursor:pointer;
  outline:none !important;
   box-shadow: 0 -1px 1px 0 rgba(0,0,0,0),
               0 -1px 1px 0 rgba(0,0,0,.1) inset;
    transition: .2s ease-out height .1s, .05s ease background, .05s ease color;
}
.toggle-tab:hover,
.toggle-tab:focus{
  color:rgba(255,255,255,0.7);
  background: rgba(38,38,38,.5);
  border:1px solid rgba(38,38,38,0);
  box-shadow: 0 -1px 1px 0 rgba(0,0,0,0.1);
    transition: .05s ease-in height, .05s ease background, .1s ease color;
}
  
.toggle-tab.active-tab,
.toggle-tab.active-tab:hover,
.toggle-tab.active-tab:focus {
  z-index:3020 !important;
  color:rgba(255,255,255,1);
  background: rgba(38,38,38,1);
    box-shadow: -1px 1px 1px 0 rgba(0,0,0,0.5), 0 2px 1px 1px rgba(0,0,0,0.1);
}

.toggle-tab.active-tab:focus:after {
  content:"";
  position:absolute;
  left:40%;
  bottom:10%;
  height:2px;
  width:20%;
  background:rgba(255,255,255,.2);
}

.toggle-tab .new-tag{
/* content:"NEW";
  position:absolute;*/
  position:relative;
  display:inline-block;
  color:red;
  font-size:8px;
}


.container-stdcharts{
  position:relative;
  display:inline-block;
  width:calc(100% - 180px);
  z-index:3000 !important; 
  /*Flex Self Positioning*/
  /*order:3;
  flex-shrink:1;
  flex-grow:0;
  flex-basis:100%;*/
  margin:0;
  padding: 15px 15px;
  background: rgba(38,38,38,1);
}

.tab-content {order: 3 !important; display:none !important; }
.tab-content.active-tab-content {order:2 !important; display:block !important;}

.stdcharts{
  position:relative;
  z-index:3000 !important; 
  /*Flex Self Positioning*/
  width:100%;
  height:68vh;
  min-height:300px;
  max-height: calc(80vw * .55);
  padding: 0;
  background: rgba(38,38,38,1);
}
 
 /* #cumulchart,
  #dailychart,
  #hospchart,
  #cntychart,
  #cntydthchart,
  #testchart {

 }*/
 
.stdcharts .chartTitle{
 color:#fff;
 font-weight:400;
 text-align:center;
 margin:10px 0;
}

.stdcharts canvas{
  width:100%;
  height:100%;
  margin:0 auto;
  padding:0;
}

@media(max-width: 992px){
  .toggle-tab {

  }  
  .stdcharts{

  }
}

@media(max-width: 768px){
  
  .container-chart-area{
    padding:0 0 0 0 !important;
  }

  .container-toggle-tabs{
    z-index:4000;
    position:absolute;
    display:flex;
    left:0;
    top:0;
    width:auto;
    margin:0 auto 0 auto;
    height:100%;
    overflow:visible;
    background: rgba(21,21,21,1.00);
  }

  #dropdownHead{
    position:relative !important;
    display:block !important;
    order:2;
    width:10px;
    height:100%;
    padding:0px;
    background:rgba(22,22,22,1);
    color:#fff;
    text-align:left;
    /*writing-mode: vertical-lr; text-orientation:sideways;*/
    font-size:14px;
    font-weight:400;
    line-height:100%;
    border:1px solid rgba(58,58,58,1);
    /*border:1px solid white;*/
    border-top:0px;
    border-radius:0px 0px 2px 2px;
  }
  #dropdownHead:after{
  content:"Select Chart";
  position:absolute;
  
  width:60px;
  height:auto;
  left:8px;
  top:5px;
  padding:10px 10px 10px 2px;
  line-height:100%;
  white-space:normal;
  border:1px solid rgba(58,58,58,1);
  border-left:none;
  border-radius:0px 4px 4px 0px;
  background:rgba(22,22,22,1);
  }

  #dropdownHead:focus{
    /*background:rgba(50,50,50,1);*/
    outline:none !important;
  }
  #dropdownHead:hover,
  #dropdownHead[aria-expanded="true"]{
    text-decoration:none !important;
    background:rgba(42,42,42,1);
    outline:none !important;
  }
  .arrowDown {
    width: 14px;
    height: 14px;
    display: inline-block;
    position: relative;
    float:right;
    margin: 5px 0 0 7.5px;
  }
  .arrowDown:before,
  .arrowDown:after{
    content:"";
    top: 8px;
    position: absolute;
    width: 8.5px;
    height: 2px;
    background-color: #fff;
    display: inline-block;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .arrowDown:before {
    left: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .arrowDown:after {
    right: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  #dropdownHead[aria-expanded="true"] .arrowDown:before{
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  #dropdownHead[aria-expanded="true"] .arrowDown:after{
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .box-toggle-tabs{
    position:relative;
    display:none;
    order:1;
    left:0;
    width:280px;
    height:auto;
  }
  
  
  .box-toggle-tabs.menuExpanded{
    display:flex;
    left:0;
    height:100%;
  }

  .box-toggle-tabs:hover,
  .box-toggle-tabs:focus{

  }
  .toggle-tab {
    font-size:14px;
    line-height:30px;
  }
  .box-toggle-tabs:hover .toggle-tab.active-tab,
  .box-toggle-tabs:focus .toggle-tab.active-tab{
   
  }
  .toggle-tab:hover,
  .toggle-tab:focus{
  
  }
  .toggle-tab.active-tab{
   
  }
  .toggle-tab,
  .toggle-tab:hover,
  .toggle-tab:focus,
  .toggle-tab.active-tab,
  .toggle-tab.active-tab,
  .toggle-tab.active-tab:hover,
  .toggle-tab.active-tab:focus {
    box-shadow:none;
  }
  
  .container-stdcharts{
   width:100%;
  padding: 30px 15px 15px 15px;
  }
  .stdcharts{
   
  }
  #cumulchart,
  #dailychart,
  #hospchart,
  #cntychart,
  #cntydthchart,
  #testchart{
    max-height: calc(95vw * .7);
  } 
  .stdcharts .chartTitle{
   font-size:18px;
   margin:0px 0 10px 0 !important;
  }  
}

@media (max-width: 575px){
  .toggle-tab {

  }
  .toggle-tab:hover,
  .toggle-tab:focus{

  }
  .toggle-tab.active-tab,
  .toggle-tab.active-tab:hover,
  .toggle-tab.active-tab:focus {

  }
  .stdcharts{
   margin:0 auto;
  }
  #cumulchart,
  #dailychart,
  #hospchart,
  #cntychart,
  #cntydthchart,
  #testchart{
    max-height: calc(95vw * .6);
  } 
  .stdcharts .chartTitle{
   font-size:18px;
   margin:10px 0;
  }  
}



/*--- Cumulative & Daily Chart Custom Legends --- */
#legendContainerCumul,
#legendContainerDaily,
#legendContainerTest,
#legendContainerHosp{
  width:100%;
  height:auto;
  z-index:3000;
}
#legendContainerCumul,
#legendContainerTest,
#legendContainerHosp{
  max-width:600px;
  margin:15px auto 7.5px auto;
}

#legendContainerDaily{
  max-width:500px;
  margin:5px auto 0px auto;
}

#legendContainerCumul> ul,
#legendContainerDaily> ul,
#legendContainerTest> ul,
#legendContainerHosp> ul{
  display:flex;
  justify-content:center;
  flex-flow: row wrap;
  padding:0;
}

/* Daily Chart Legend Items + Text Style */
#legendContainerCumul li,
#legendContainerDaily li,
#legendContainerTest li,
#legendContainerHosp li{
  display:block;
  flex-grow:0;
  cursor: pointer;
  margin:0 0 0 0;
  color:#fff;
  font-size:18px;
  font-weight:400;
}

#legendContainerCumul li,
#legendContainerTest li,
#legendContainerHosp li{
  flex-basis:auto;
  padding:5px 20px;
}

#legendContainerDaily li {
  flex-basis:33%;
  padding:2px 0px;
}

#legendContainerCumul li.hiddentrue,
#legendContainerDaily li.hiddentrue,
#legendContainerTest li.hiddentrue,
#legendContainerHosp li.hiddentrue{
  color:rgba(255,255,255,0.5)
} 

#legendContainerCumul li:hover,
#legendContainerDaily li:hover,
#legendContainerTest li:hover,
#legendContainerHosp li:hover{
  text-decoration:underline;
}

/*Fixing the order of the legend listings*/
#legendContainerDaily li:nth-child(1) {order:4;}
#legendContainerDaily li:nth-child(2) {order:5;}
#legendContainerDaily li:nth-child(3) {order:6;}

#legendContainerDaily li:nth-child(4) {order:1;}
#legendContainerDaily li:nth-child(5) {order:2;}
#legendContainerDaily li:nth-child(6) {order:3;}


/* - Daily Legend Item Shape Style (Also ".legendSquareDaily") - */
#legendContainerCumul li span,
#legendContainerDaily li span,
#legendContainerTest li span,
#legendContainerHosp li span{
  position: relative;
  display:inline-block;
  margin:0 7.5px -1px 0;
  padding: 0;
  height:16px;
  width:16px;
  z-index: 1000;
  border:2px solid;
  border-radius:50%;
  transition:.1s ease background;
}


#legendContainerCumul li:hover span,
#legendContainerDaily li:hover span,
#legendContainerTest li:hover span,
#legendContainerHosp li:hover span{
  border:2px solid;
  filter:brightness(90%);
}

#legendContainerCumul li.hiddentrue span,
#legendContainerDaily li.hiddentrue span,
#legendContainerTest li.hiddentrue span,
#legendContainerHosp li.hiddentrue span{
  border:2px solid;
  background:transparent !important;
  filter:brightness(60%);
}

#legendContainerCumul li.hiddentrue:hover span,
#legendContainerDaily li.hiddentrue:hover span,
#legendContainerTest li.hiddentrue:hover span,
#legendContainerHosp li.hiddentrue:hover span{
    filter:brightness(80%);
}

#legendContainerDaily li:nth-child(1) span {border-radius:50%;}
#legendContainerDaily li:nth-child(2) span {border-radius:50%;}
#legendContainerDaily li:nth-child(3) span {border-radius:50%;}

#legendContainerDaily li:nth-child(4) span {border-radius:0%;}
#legendContainerDaily li:nth-child(5) span {border-radius:0%;}
#legendContainerDaily li:nth-child(6) span {border-radius:0%;}


@media (max-width: 991px){

}

@media (max-width: 767px){

}

@media (max-width: 575px){
  #legendContainerCumul> ul,
  #legendContainerDaily> ul,
  #legendContainerTest> ul,
  #legendContainerHosp> ul{
    padding:0 2%;
  }

  #legendContainerCumul> ul,
  #legendContainerTest> ul{
    justify-content:flex-start;
  }
 
  #legendContainerTest> ul,
  #legendContainerHosp> ul{
    justify-content:center;
  }

  #legendContainerCumul li,
  #legendContainerDaily li{
    flex-basis:33%;
    padding:5px 0px;
    font-size:16px;
  }
  #legendContainerTest li,
  #legendContainerHosp li {
    flex-basis:40%;
    padding:5px 0px;
    font-size:16px;
  }  
  #legendContainerCumul li span,
  #legendContainerDaily li span,
  #legendContainerTest li span,
  #legendContainerHosp li span {
    margin:0 5px -1px 0;
    height:14px;
    width:14px;
  }
}

@media(max-width:370px){
  #legendContainerCumul li,
  #legendContainerDaily li,
  #legendContainerTest li,
  #legendContainerHosp li {
    font-size:14px;
  }
}


/*--- County Chart Custom Legend --- */
#legendContainerCnty,
#legendContainerCntyDth{
  width:100%;     
  height:auto;
  z-index:3000;
}

#legendContainerCnty> ul,
#legendContainerCntyDth> ul{
  display:flex;
  justify-content:space-between;
  flex-wrap: wrap;
  padding:0 0;
}

#boxToggleCntyOff,
#boxToggleCntyDthOff{
  width:100%;
  padding:15px 0 7.5px 0;
}

#toggleCntyOff,
#toggleCntyDthOff{
  display:inline-block;
  z-index:3003; 
  padding:4px 7.5px; 
  font-size:15px; 
  font-weight:500; 
  color:#ccc; 
  
  border:2px solid #ccc;
  border-radius:4px;
  background:transparent;
}
#toggleCntyOff:before,
#toggleCntyDthOff:before{
  content:"\\";
  position:relative;
  display:inline-block;
  margin-right:5px;
  height:14px;
  width:14px;
  font-size:14px;
  font-weight:500;
  line-height:10px;
  color:#ccc;
  
  border:2px solid #ccc;   
  text-align:center;
  border-radius:50%;
}

/* County Chart Legend Items + Text Style (Also ".legendItemCnty") */
#legendContainerCnty li,
#legendContainerCntyDth li {
  display:block;
  flex-basis:20%;
  flex-grow:0;
  cursor: pointer;
  margin:0 0 0 0;
  color:#fff;
  font-size:18px;
  font-weight:400;
}
#legendContainerCnty li:last-child,
#legendContainerCntyDth li:last-child {
  flex-grow:2 !important;
}

/* - Legend Item Circle Style (Also ".legendCircleCnty") - */
#legendContainerCnty li span,
#legendContainerCntyDth li span {
  position: relative;
  display:inline-block;
  margin:0 7.5px -1px 0;
  padding: 0;
  height:16px;
  width:16px;
  border-radius: 13px;
  z-index: 1000;
}

#legendContainerCnty li.hiddentrue span,
#legendContainerCntyDth li.hiddentrue span {
  border:2px solid;
  background:transparent !important;
}


@media (max-width: 991px){
  #legendContainerCnty li,
  #legendContainerCntyDth li {
    flex-basis:25%;
  }

}

@media (max-width: 767px){
  #legendContainerCnty li,
  #legendContainerCntyDth li {
    flex-basis:33.3%;
  }

}

@media (max-width: 575px){
  #boxToggleCntyOff,
  #boxToggleCntyDthOff{
    padding:15px 0 7.5px 3%;
  }
  #toggleCntyOff,
  #toggleCntyDthOff{
    padding:2px 5px; 
    font-size:13px; 
    border:1px solid #ccc;
    border-radius:4px;
    background:transparent;
  }
  
  #toggleCntyOff:before,
  #toggleCntyDthOff:before{
    margin-right:3px;
    height:12px;
    width:12px;
    font-size:12px;
    line-height:8px;
  }

  #legendContainerCnty> ul,
  #legendContainerCntyDth> ul{
    padding:0 4%;
  }

  #legendContainerCnty li,
  #legendContainerCntyDth li {
    padding:2.5px 0;
    flex-basis:42%;
    font-size:16px;
  }
  #legendContainerCnty li:last-child,
  #legendContainerCntyDth li:last-child {
    flex-grow:0 !important;
  }
  #legendContainerCnty li span,
  #legendContainerCntyDth li span {
    margin:0 5px -1px 0;
    height:14px;
    width:14px;
  }
}

@media(max-width:370px){
  #legendContainerCnty li,
  #legendContainerCntyDth li {
    font-size:14px;
  }
}

form{line-height:100% !important;}

.containerDropdownCustom{
  display:flex;
  justify-content:center;
  width:100%;
  padding:0 !important;
  margin:0 !important;
}

.containerDropdownCustom label{
  margin:0 0 5px 0 !important;
  padding:0 !important;
  line-height:100% !important;
  font-size:16px;
  color:#fff;
}

.containerDropdownCustom select{
  position:relative;
  display:inline;
  margin: 0 0 0 5px !important;
  padding:0px 1px !important;
  font-size:15px;
  color:#ddd;
  border-radius:3px;
  background:transparent;  
  border:1px solid rgba(255,255,255,0.4);
  /*box-shadow:0 0 0 1px rgba(255,255,255,0.3);*/
  cursor:pointer;
}
.containerDropdownCustom option{
    font-size:15px;
  color:#444;
  border-radius:2px;
  background:transparent;
}
