@charset "utf-8";
/* CSS Document */

html{}

@media(max-width: 768px){
  html, body{height:100%; color:rgba(109,81,117,1.00)}
}

#container-charts{
  position:relative;
  /*Flex Child Positioning*/
  display:flex;
  flex-flow:column nowrap;
  z-index:1000;
  height:100vh;
  width:100vw;
  overflow-x:hidden;
  overflow-y:scroll;
  left:0;
  right:0;
  background: rgba(30,30,30,1)
}

@media(max-width:767px){
 #container-charts{
   overflow-y:initial;
 }
}
/* ----------------------------- */
/* ------ Header Styles -------- */
/* ----------------------------- */
.container-header{
  position:relative;
  display:flex;
  align-items: center;
  /*Flex Self Positioning*/
  order:1;
  flex-basis:70px;
  flex-shrink:0;
  padding: 0 0;
  background:rgba(52,52,52,1);
  /*border-bottom:1px solid rgba(255,255,255,.1);*/
  border-bottom:2px solid rgba(36,36,36,1);
  box-shadow:0px 1px 1px 0 rgba(0,0,0,0.4)
}

.container-header h1{
  position:relative;
  display:block;
  flex-basis:auto;
  flex-grow:1;
  margin:0 0 0 0;
  padding:0;
  color: #fff;
  font-size:30px;
  line-height:45px;
  text-align:center;
}

.container-header h1 img{
  position:relative;
  display:inline-block;
  width:50px;
  margin:0 0 0 25px;
  font-size:0px;
}


.mainNav{
 position:relative;
 display:flex;
 align-items:center;
 left:0px;
 height:100%;
 width:201px;
 padding: 0 0 0 20px;
 z-index:3000;
 border-right:2px solid rgba(45,45,45,1);
}

.mainNav a{
 position:relative;
 display:block;
 height:22px;
 width:20px;
 color:#fff;
 font-weight:600;
 text-decoration:none !important;
 background-image:url("../img/back-active.png");
 background-position: center;
 background-repeat: no-repeat; 
 background-size: contain;
 opacity:.7;
  transition:.3s ease opacity;
}
.mainNav a:after{
  content:"Back to Map";
  position:relative;
  white-space:nowrap;
  margin-left:140%;
  font-size:16px;
  line-height:20px;
  padding:10px 0;
  text-decoration:none !important;
  opacity:1;
  transition:.3s ease all;
}
.mainNav a:hover,
.mainNav a:focus{
 color:#fff;
 font-weight:600;
 opacity:1;
  transition:.3s ease opacity;
}
.mainNav a:hover:after{
  margin-left:120%;
  text-decoration:underline !important;
    transition:.3s ease all;
}

@media(max-width: 768px){
  .container-header{
    flex-basis:65px;
    padding: 0px 0;
  }
  .container-header h1{
    margin:0px;
    font-size:22px;
    line-height:65px;
    text-align:center;
  }
  .container-header h1 img{
    width:36px;
    margin:0 0 0 15px;
  }
  .mainNav{
   display:flex;
   justify-content:center;
   align-items:center;
   height:100%;
   width:30px;
   top:0;
   left:0;
   padding:0 0 0 0;
   z-index:3000;
  }
  .mainNav a{
   height:100%;
   background-size: auto 35%;
  }
  .mainNav a:after{
    content:"";
    font-size:16px;
    line-height:20px;
    margin-left:105%;
  }
}

/* ----------------------------- */
/* ------ Chart Styles --------- */
/* ----------------------------- */

.container-chart-area {
  position:relative;
  display:block;
  order:2;
  flex-grow:0;
  flex-shrink:1;
  flex-basis:100%;
  padding:0 0 0 0 !important;
  margin:0 !important;
  background: transparent;
}

.container-toggle-tabs{
  position:relative;
  float:left;
  width:200px;
  height:100%;
  background: rgba(14,14,14,1.00);
}
.box-toggle-tabs{
  position:relative;
  /*Flex Child Positioning*/
  display:flex;
  flex-direction:column;
  flex-wrap:nowrap;
  justify-content: flex-start;
  /*Flex Self Positioning*/
  /*flex-basis:180px;
  flex-grow:0;
  flex-shrink:0;*/
  width:100%;
  height:100%;
  padding:0 !important;
  margin:0 !important;
  z-index:4000;
  background: rgba(14,14,14,1.00);
}

.toggle-tab {
  position:relative;
  display:block;
  /*Flex Self Positioning*/
  flex-grow:0;
  flex-basis:40px;
  align-self:flex-start;
  width:100%;
  padding:0 15px;
  margin: 0;
  line-height:40px;
  list-style: none;
  text-align:left;
  font-weight:500;
  color:rgba(255,255,255,0.48);
  background: rgba(38,38,38,.1);
  border-top:1px solid transparent;
  border-bottom: 1px solid rgba(100,100,100,0.1);
  border-left:1px solid transparent;
  border-right:1px solid transparent;
  cursor:pointer;
  outline:none !important;
   box-shadow: 0 -1px 1px 0 rgba(0,0,0,0),
               0 -1px 1px 0 rgba(0,0,0,.1) inset;
    transition: .2s ease-out height .1s, .05s ease background, .05s ease color;
}

.toggle-tab.active-tab {
  z-index:3020 !important;
  color:rgba(255,255,255,1);
  background: rgba(30,30,30,1);
  border-top:1px solid transparent;
  border-bottom: 1px solid rgba(100,100,100,0.2);
  border-left:1px solid transparent;
  border-right:1px solid transparent;
    box-shadow: -1px 1px 1px 0px rgba(0,0,0,0.5), 
                -1px 2px 1px 1px rgba(0,0,0,0.2),
                /*This Last shadow mimics upper border*/
                0px -1px 0px 0px rgba(100,100,100,0.2); 
    transition: .1s ease all;
}

.toggle-tab:hover,
.toggle-tab:focus,
.toggle-tab.active-tab:hover,
.toggle-tab.active-tab:focus{
  border-left:1px solid transparent;
  border-right:1px solid transparent;
    transition: .2s ease all;
}

.toggle-tab:hover,
.toggle-tab:focus{
  color:rgba(255,255,255,0.8);
  background: rgba(26,26,26,1);
  border-bottom: 1px solid rgba(100,100,100,0.1);
  box-shadow: -1px 1px 1px 0 rgba(0,0,0,0.5),
              0px -1px 0px 0px rgba(100,100,100,0.1);
}
.toggle-tab:focus{  
  text-decoration:underline;
}
.toggle-tab.active-tab:hover,
.toggle-tab.active-tab:focus{
  color:rgba(255,255,255,1);
  background: rgba(30,30,30,1);
  text-decoration:underline;
  border-top:1px solid rgba(100,100,100,0.2);
  border-bottom: 1px solid rgba(100,100,100,0.2);
  box-shadow: -1px 1px 1px 0 rgba(0,0,0,0.5);
  cursor:default;
}


.toggle-tab.active-tab:after {
  content:"\25B6";
  position:absolute;
  font-size:12px;
  right:15px;
  /*margin-left:-15px;*/
}

.toggle-tab .new-tag{
  position:relative;
  display:inline-block;
  color:red;
  font-size:8px;
}


.container-stdcharts{
  position:relative;
  display:inline-block;
  width:calc(100% - 200px);
  z-index:3000 !important; 
  margin:0;
  padding: 15px 15px;
  background: rgba(30,30,30,1)
}

.tab-content {order: 3 !important; display:none !important; }
.tab-content.active-tab-content {order:2 !important; display:block !important;}

.stdcharts{
  position:relative;
  z-index:3000 !important; 
  /*Flex Self Positioning*/
  width:100%;
  height:68vh;
  min-height:300px;
  max-height: calc(80vw * .55);
  padding: 0;
  background: rgba(30,30,30,1)
}
 
 /* #cumulchart,#dailychart,#hospchart,#cntychart,#cntydthchart,#testchart {}*/
 
.stdcharts .chartTitle{
 color:#fff;
 font-size:22px;
 font-weight:500;
 text-align:center;
 margin:10px 0;
}

.stdcharts canvas{
  width:100%;
  height:100%;
  margin:0 auto;
  padding:0;
}

@media(max-width: 768px){
  .container-chart-area{
    padding:0 0 0 0 !important;
  }

  @keyframes blinkAttention {
    0% {background:rgba(46,46,46,1)}
    40% {background:rgba(46,46,46,1);}
    48% {background:rgba(106,106,106,1);}
    56% {background:rgba(46,46,46,1);}
    64% {background:rgba(106,106,106,1);}
    72% {background:rgba(46,46,46,1);}
    80% {background:rgba(106,106,106,1);}
    88% {background:rgba(46,46,46,1);}
  }

  @keyframes shrinkDown {
    0% {height:0px;}
    30% {height:0px;}
    40% {height:300px;}
    90% {height:300px;}
    100% {height:0px;}
  }

  .container-toggle-tabs{
    z-index:3030;
    position:fixed;
    display:block;
    left:0;
    bottom:0px;
    width:100%;
    margin:0;
    height:auto;
    overflow:visible;
    background: rgba(21,21,21,.6);
  }

  #dropdownHead{
    z-index:4090;
    position:relative !important;
    display:flex !important;
    flex-direction: row;
    justify-content: center;
    flex-wrap:nowrap;
    order:1;
    width:100%;
    height:40px;
    padding:0px;
    color:#fff;
    background:rgba(46,46,46,1);
    border-top:0px solid rgba(36,36,36,1);
    box-shadow:0px -1px 0px 1px rgba(36,36,36,1),
               0px -2px 1px 0 rgba(0,0,0,0.2);
    animation: 3s ease-out 0s 1 blinkAttention;
  }


  #dropdownHead:focus{
    /*background:rgba(50,50,50,1);*/
    outline:none !important;
  }
  
  #dropdownHead:hover,
  #dropdownHead[aria-expanded="true"]{
    text-decoration:none !important;
    background:rgba(52,52,52,1);
    outline:none !important;
  }
  #dropdownHead[aria-expanded="true"]{
  }
  
/*  #dropdownHead:before{
    content:"";
    z-index:1000;
    position:absolute;
    display:none;
    bottom:100%;
    left:0;
    height:100vh;
    width:100%;
    background:rgba(0,0,0,.2);
  }
  #dropdownHead[aria-expanded="true"]:before{
    display:block;
  }*/
  
  #labelDropdownHead{
    position:relative;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    height:40px;
    width:auto;
    margin:0 0 0 0;
    z-index:3000;
    /*border:1px solid #ffffff;*/
  }
  
  #labelDropdownHead p{
    position:relative;
    display:block;
    width:auto;
    height:auto;
    margin:0;
    padding:0 15px;
    font-size:16px;
    font-weight:500;
    line-height:40px;
    white-space:nowrap;
    border:none;
    background:rgba(0,0,0,0);
  }
  
  #dropdownHead .arrowHoriz {
    position: relative;
    display: block;
    width: 12px;
    height: 12px;
    margin: 0 0 0 0;
    -webkit-transform: rotate(0deg) translate(0, 3px);
            transform: rotate(0deg) translate(0, 3px);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  #dropdownHead[aria-expanded="false"] #labelDropdownHead .arrowHoriz{
    -webkit-transition: 0.2s transform ease .2s;
            transition: 0.2s transform ease .2s;
  }
  #dropdownHead[aria-expanded="true"] #labelDropdownHead .arrowHoriz{
    -webkit-transform: rotate(180deg) translate(0, 3px);
            transform: rotate(180deg) translate(0, 3px);
    -webkit-transition: 0.2s transform ease .2s;
            transition: 0.2s transform ease .2s;
  }
  
  .arrowHoriz:after{
    content:"";
    position: absolute;
    width: 12px;
    height: 12px;
    top: 0;
    margin:0;
    border-color:rgba(255,255,255,1.0);
    border-bottom: 2px solid;
    border-left: 2px solid;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }

  .box-toggle-tabs{
    position:relative;
    display:flex;
    order:2;
    width:100%;
    height:0px;
    overflow:hidden;
    animation: 3s ease-out 0s 1 shrinkDown;
    transition: .3s ease-out all;
  }

  
  .box-toggle-tabs.menuExpanded{
    position:relative;
    height:300px;
  }

  .toggle-tab {
    font-size:14px;
    line-height:40px;
  }
  
  .toggle-tab,
  .toggle-tab:hover,
  .toggle-tab:focus,
  .toggle-tab.active-tab,
  .toggle-tab.active-tab,
  .toggle-tab.active-tab:hover,
  .toggle-tab.active-tab:focus {
    box-shadow:none;
  }
  
  .container-stdcharts{
    width:100%;
    margin: 0 0 0 0;
    padding: 30px 5px 15px 7.5px;
  }
  .stdcharts{
   
  }
  #cumulchart,
  #dailychart,
  #hospchart,
  #cntychart,
  #cntydthchart,
  #testchart,
  #posratechart{
    max-height: calc(95vw * .7);
  } 
  .stdcharts .chartTitle{
   font-size:18px;
   margin:0px 0 10px 0 !important;
  }  
}

@media (max-width: 575px){
  .toggle-tab {

  }
  .toggle-tab:hover,
  .toggle-tab:focus{

  }
  .toggle-tab.active-tab,
  .toggle-tab.active-tab:hover,
  .toggle-tab.active-tab:focus {

  }
  .stdcharts{
   margin:0 auto;
  }
  #cumulchart,
  #dailychart,
  #hospchart,
  #cntychart,
  #cntydthchart,
  #testchart{
    max-height: calc(95vw * .6);
  } 
  .stdcharts .chartTitle{
   font-size:18px;
   margin:10px 0;
  }  
}



/*--- Cumulative & Daily Chart Custom Legends --- */
#legendContainerCumul,
#legendContainerDaily,
#legendContainerTest,
#legendContainerHosp,
#legendContainerPosRate{
  width:100%;
  height:auto;
  z-index:3000;
}
#legendContainerCumul,
#legendContainerTest,
#legendContainerHosp,
#legendContainerPosRate{
  max-width:600px;
  margin:15px auto 7.5px auto;
}

#legendContainerDaily{
  max-width:600px;
  margin:5px auto 0px auto;
}

#legendContainerCumul> ul,
#legendContainerDaily> ul,
#legendContainerTest> ul,
#legendContainerHosp> ul,
#legendContainerPosRate > ul{
  display:flex;
  justify-content:center;
  flex-flow: row wrap;
  padding:0;
}

/* Daily Chart Legend Items + Text Style */
#legendContainerCumul li,
#legendContainerDaily li,
#legendContainerTest li,
#legendContainerHosp li,
#legendContainerPosRate li{
  display:block;
  flex-grow:0;
  cursor: pointer;
  margin:0 0 0 0;
  color:#fff;
  font-size:18px;
  font-weight:400;
}

#legendContainerCumul li,
#legendContainerTest li,
#legendContainerHosp li,
#legendContainerPosRate li{
  flex-basis:auto;
  padding:5px 20px;
}

#legendContainerDaily li {
  flex-basis:25%;
  padding:2px 0px;
}

#legendContainerCumul li.hiddentrue,
#legendContainerDaily li.hiddentrue,
#legendContainerTest li.hiddentrue,
#legendContainerHosp li.hiddentrue,
#legendContainerPosRate li.hiddentrue{
  color:rgba(255,255,255,0.5)
} 

#legendContainerCumul li:hover,
#legendContainerDaily li:hover,
#legendContainerTest li:hover,
#legendContainerHosp li:hover,
#legendContainerPosRate li:hover{
  text-decoration:underline;
}

/*Fixing the order of the legend listings*/
#legendContainerDaily li:nth-child(1) {order:5;}
#legendContainerDaily li:nth-child(2) {order:6;}
#legendContainerDaily li:nth-child(3) {order:7;}
#legendContainerDaily li:nth-child(4) {order:8;}

#legendContainerDaily li:nth-child(5) {order:1;}
#legendContainerDaily li:nth-child(6) {order:2;}
#legendContainerDaily li:nth-child(7) {order:3;}
#legendContainerDaily li:nth-child(8) {order:4;}

/* - Daily Legend Item Shape Style (Also ".legendSquareDaily") - */
#legendContainerCumul li span,
#legendContainerDaily li span,
#legendContainerTest li span,
#legendContainerHosp li span,
#legendContainerPosRate li span{
  position: relative;
  display:inline-block;
  margin:0 7.5px -1px 0;
  padding: 0;
  height:16px;
  width:16px;
  z-index: 1000;
  border:2px solid;
  border-radius:50%;
  transition:.1s ease background;
}


#legendContainerCumul li:hover span,
#legendContainerDaily li:hover span,
#legendContainerTest li:hover span,
#legendContainerHosp li:hover span,
#legendContainerPosRate li:hover span{
  border:2px solid;
  filter:brightness(90%);
}

#legendContainerCumul li.hiddentrue span,
#legendContainerDaily li.hiddentrue span,
#legendContainerTest li.hiddentrue span,
#legendContainerHosp li.hiddentrue span,
#legendContainerPosRate li.hiddentrue span{
  border:2px solid;
  background:transparent !important;
  filter:brightness(60%);
}

#legendContainerCumul li.hiddentrue:hover span,
#legendContainerDaily li.hiddentrue:hover span,
#legendContainerTest li.hiddentrue:hover span,
#legendContainerHosp li.hiddentrue:hover span,
#legendContainerPosRate li.hiddentrue:hover span{
    filter:brightness(80%);
}

#legendContainerDaily li:nth-child(1) span {border-radius:50%;}
#legendContainerDaily li:nth-child(2) span {border-radius:50%;}
#legendContainerDaily li:nth-child(3) span {border-radius:50%;}
#legendContainerDaily li:nth-child(4) span {border-radius:50%;}

#legendContainerDaily li:nth-child(5) span {border-radius:0%;}
#legendContainerDaily li:nth-child(6) span {border-radius:0%;}
#legendContainerDaily li:nth-child(7) span {border-radius:0%;}
#legendContainerDaily li:nth-child(8) span {border-radius:0%;}


@media (max-width: 991px){

}

@media (max-width: 767px){

}

@media (max-width: 575px){
  #legendContainerCumul> ul,
  #legendContainerDaily> ul,
  #legendContainerTest> ul,
  #legendContainerHosp> ul,
  #legendContainerPosRate> ul{
    padding:0 2%;
  }
  #legendContainerDaily> ul{
    padding:0 1%;
  }

  #legendContainerCumul> ul,
  #legendContainerTest> ul{
    justify-content:flex-start;
  }
 
  #legendContainerTest> ul,
  #legendContainerHosp> ul,
  #legendContainerPosRate > ul{
    justify-content:center;
  }

  #legendContainerCumul li,
  #legendContainerDaily li,
  #legendContainerTest li,
  #legendContainerHosp li,
  #legendContainerPosRate li{
    font-size:16px;
    padding:5px 0px;
  }
  
  #legendContainerCumul li{
    flex-basis:33%;
  }

  #legendContainerDaily li{
    overflow:hidden;
    white-space:nowrap;
  }
  
  #legendContainerDaily li:nth-child(5),#legendContainerDaily li:nth-child(1){flex-basis:21%;}
  #legendContainerDaily li:nth-child(6),#legendContainerDaily li:nth-child(2){flex-basis:22%;}
  #legendContainerDaily li:nth-child(7),#legendContainerDaily li:nth-child(3){flex-basis:29%;}
  #legendContainerDaily li:nth-child(8),#legendContainerDaily li:nth-child(4){flex-basis:27%;}
  
  #legendContainerTest li,
  #legendContainerHosp li{
    flex-basis:40%;
  }  
  #legendContainerPosRate li{
    flex-basis:auto;
  }  
  #legendContainerCumul li span,
  #legendContainerDaily li span,
  #legendContainerTest li span,
  #legendContainerHosp li span,
  #legendContainerPosRate li span{
    margin:0 5px -1px 0;
    height:14px;
    width:14px;
  }

  #legendContainerDaily li span{
    margin:0 3px -2px 0;
  }
}

@media(max-width:370px){
  #legendContainerCumul li,
  #legendContainerDaily li,
  #legendContainerTest li,
  #legendContainerHosp li,
  #legendContainerPosRate li{
    font-size:14px;
  }
}


/*--- County Chart Custom Legend --- */
#legendContainerCnty,
#legendContainerCntyDth{
  width:100%;     
  height:auto;
  z-index:3000;
}

#legendContainerCnty> ul,
#legendContainerCntyDth> ul{
  display:flex;
  justify-content:space-between;
  flex-wrap: wrap;
  padding:0 0;
}

#boxToggleCntyOff,
#boxToggleCntyDthOff{
  width:100%;
  padding:15px 0 7.5px 0;
}

#toggleCntyOff,
#toggleCntyDthOff{
  display:inline-block;
  z-index:3003; 
  padding:4px 7.5px; 
  font-size:15px; 
  font-weight:500; 
  color:#ccc; 
  
  border:2px solid #ccc;
  border-radius:4px;
  background:transparent;
}
#toggleCntyOff:before,
#toggleCntyDthOff:before{
  content:"\\";
  position:relative;
  display:inline-block;
  margin-right:5px;
  height:14px;
  width:14px;
  font-size:14px;
  font-weight:500;
  line-height:10px;
  color:#ccc;
  
  border:2px solid #ccc;   
  text-align:center;
  border-radius:50%;
}

/* County Chart Legend Items + Text Style (Also ".legendItemCnty") */
#legendContainerCnty li,
#legendContainerCntyDth li {
  display:block;
  flex-basis:20%;
  flex-grow:0;
  cursor: pointer;
  margin:0 0 0 0;
  color:#fff;
  font-size:18px;
  font-weight:400;
}
#legendContainerCnty li:last-child,
#legendContainerCntyDth li:last-child {
  flex-grow:2 !important;
}

/* - Legend Item Circle Style (Also ".legendCircleCnty") - */
#legendContainerCnty li span,
#legendContainerCntyDth li span {
  position: relative;
  display:inline-block;
  margin:0 7.5px -1px 0;
  padding: 0;
  height:16px;
  width:16px;
  border-radius: 13px;
  z-index: 1000;
}

#legendContainerCnty li.hiddentrue span,
#legendContainerCntyDth li.hiddentrue span {
  border:2px solid;
  background:transparent !important;
}


@media (max-width: 991px){
  #legendContainerCnty li,
  #legendContainerCntyDth li {
    flex-basis:25%;
  }

}

@media (max-width: 767px){
  #legendContainerCnty li,
  #legendContainerCntyDth li {
    flex-basis:33.3%;
  }

}

@media (max-width: 575px){
  #boxToggleCntyOff,
  #boxToggleCntyDthOff{
    padding:15px 0 7.5px 3%;
  }
  #toggleCntyOff,
  #toggleCntyDthOff{
    padding:2px 5px; 
    font-size:13px; 
    border:1px solid #ccc;
    border-radius:4px;
    background:transparent;
  }
  
  #toggleCntyOff:before,
  #toggleCntyDthOff:before{
    margin-right:3px;
    height:12px;
    width:12px;
    font-size:12px;
    line-height:8px;
  }

  #legendContainerCnty> ul,
  #legendContainerCntyDth> ul{
    padding:0 4%;
  }

  #legendContainerCnty li,
  #legendContainerCntyDth li {
    padding:2.5px 0;
    flex-basis:42%;
    font-size:16px;
  }
  #legendContainerCnty li:last-child,
  #legendContainerCntyDth li:last-child {
    flex-grow:0 !important;
  }
  #legendContainerCnty li span,
  #legendContainerCntyDth li span {
    margin:0 5px -1px 0;
    height:14px;
    width:14px;
  }
}

@media(max-width:370px){
  #legendContainerCnty li,
  #legendContainerCntyDth li {
    font-size:14px;
  }
}

form{line-height:100% !important;}

.containerDropdownCustom{
  display:flex;
  justify-content:center;
  width:100%;
  padding:0 !important;
  margin:0 !important;
}

.containerDropdownCustom label{
  margin:0 0 5px 0 !important;
  padding:0 !important;
  line-height:100% !important;
  font-size:16px;
  color:#fff;
}

.containerDropdownCustom select{
  position:relative;
  display:inline;
  margin: 0 0 0 5px !important;
  padding:0px 1px !important;
  font-size:15px;
  color:#ddd;
  border-radius:3px;
  background:transparent;  
  border:1px solid rgba(255,255,255,0.4);
  /*box-shadow:0 0 0 1px rgba(255,255,255,0.3);*/
  cursor:pointer;
}
.containerDropdownCustom option{
    font-size:15px;
  color:#444;
  border-radius:2px;
  background:transparent;
}
