@charset "utf-8";
/* CSS Document */

@media(max-width: 768px){
  html, body{height:100%;}
}

#container-charts{
  position:relative;
  display:flex;
  flex-direction:column;
  z-index:1000;
  height:100vh;
  width:100vw;
  overflow-x:hidden;
  left:0;
  right:0;
  background: rgba(38,38,38,1.00);
}


/* ----------------------------- */
/* ------ Header Styles -------- */
/* ----------------------------- */
.container-header{
  height:auto;
  flex-shrink:0;
  padding: 10px 0;
  background: #121212;
}
.container-header h1{
  margin:0;
  padding:0;
  color: #fff;
  font-size:30px;
  text-align:center;
}

.mainNav{
 position:absolute;
 top:25px;
 left:15px;
 height:auto;
 width:auto;
 z-index:3000;
}

.mainNav a{
 position:relative;
 display:block;
 height:22px;
 width:20px;
 color:#fff;
 font-weight:600;
 text-decoration:none !important;
 background-image:url("../img/back-active.png");
 background-position: center;
 background-repeat: no-repeat; 
 background-size: contain;
 opacity:.7;
  transition:.3s ease opacity;
}
.mainNav a:after{
  content:"Back";
  position:relative;
  margin-left:-0%;
  font-size:16px;
  line-height:20px;
  padding:0;
  text-decoration:none !important;
  opacity:0;
  transition:.3s ease all;
}
.mainNav a:hover,
.mainNav a:focus{
 color:#fff;
 font-weight:600;
 opacity:1;
  transition:.3s ease opacity;
}
.mainNav a:hover:after{
  margin-left:120%;
  opacity:1;
    transition:.3s ease all;
}

@media(max-width: 768px){
  .container-header h1{
    color: #fff;
    text-align:center;
  }
}

/* ----------------------------- */
/* ------ Chart Styles --------- */
/* ----------------------------- */



.container-toggle-tabs {
  position:relative;
  display:block;
  z-index:2000;
  order:1;
  flex-grow:0;
  flex-shrink:0;
  height:7.5%;
  width:100%;
  padding:0 !important;
  margin:0 !important;
  background: #121212;
}
.box-toggle-tabs{
  position:relative;
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content: center;
  width: 100%;
  height:100%;
  padding:0 !important;
  margin:0 !important;
  background: #121212;
}

.toggle-tab {
  position:relative;
  display:block;
  flex-grow:0;
  flex-basis:15%;
  align-self:flex-end;
  min-width:150px;
  max-width:300px;
  padding:0px;
  height:36px;
  margin: 0;
  line-height:36px;
  list-style: none;
  text-align:center;
  color:rgba(255,255,255,0.47);
  background: rgba(38,38,38,.2);
  border:1px solid rgba(38,38,38,.3);
  font-weight:600;
  cursor:pointer;
  border-radius:4px 4px 0 0;
  outline:none !important;
   box-shadow: 0 -1px 1px 0 rgba(0,0,0,0),
               0 -1px 1px 0 rgba(0,0,0,.1) inset;
    transition: .2s ease-out height .1s, .05s ease background, .05s ease color;
}
.toggle-tab:hover,
.toggle-tab:focus{
  height:38px;
  line-height:38px;
  color:rgba(255,255,255,0.7);
  background: rgba(38,38,38,.5);
  border:1px solid rgba(38,38,38,0);
    box-shadow: 0 -1px 1px 0 rgba(0,0,0,0.1);
    transition: .05s ease-in height, .05s ease background, .1s ease color;
}
  
.toggle-tab.active-tab,
.toggle-tab.active-tab:hover,
.toggle-tab.active-tab:focus {
  z-index:3020 !important;
  height:40px  !important;
  line-height:40px !important;
  color:rgba(255,255,255,1);
  background: rgba(38,38,38,1);
    box-shadow: 0 -1px 1px 0 rgba(0,0,0,0.5), 0 -2px 1px 1px rgba(0,0,0,0.1);
}

.toggle-tab.active-tab:focus:after {
  content:"";
  position:absolute;
  left:40%;
  bottom:10%;
  height:2px;
  width:20%;
  background:rgba(255,255,255,.2);
}

.tab-content {order: 3 !important; display:none !important; }
.tab-content.active-tab-content {order:2 !important; display:block !important;}

.stdcharts{
  position:relative;
  display:block;
  z-index:3000 !important; 
  height:80vh;
  flex-shrink:2;
  flex-grow:1;
  width: 80vw;
  max-height: calc(80vw * .65);
  margin:0 auto!important;
  padding: 30px 0;
  background: rgba(38,38,38,1);
 }

.stdcharts canvas{
  width:100%;
  height:100%;

  margin:0 auto;
  padding:0;
}

#mainchart {}
#secondchart {}

@media(max-width: 992px){
  .toggle-tab {
    flex-basis:18%;
    font-size:14px;
  }  
}

@media(max-width: 768px){
  .toggle-tab {
    flex-basis:20%;
    min-width:initial;
    font-size:12px;
  }  
  
  .stdcharts{
    position:relative;
    display:block;
    z-index:3000;
    height:80vh;
    flex-shrink:2;
    flex-grow:1;
    width: 95vw;
    max-height: calc(95vw * .95);
    margin:0 auto!important;
    padding: 30px 0;
    background: rgba(38,38,38,1);
  }
}

@media (max-width: 575px){
  .toggle-tab {
   flex-basis:20%;
    min-width:initial;
    height:36px;
    font-size:12px;
    line-height:14px;
    padding:4px 0;
    margin: 0;
     box-shadow: 0 -1px 1px 0 rgba(0,0,0,0),
                 0 -1px 1px 0 rgba(0,0,0,.1) inset;
      transition: .2s ease-out height .1s, .05s ease background, .05s ease color;
  }
  .toggle-tab:hover,
  .toggle-tab:focus{
    height:38px;
    padding:5px 0;
    line-height:14px;

      transition: .05s ease-in height, .05s ease background, .1s ease color;
  }
    
  .toggle-tab.active-tab,
  .toggle-tab.active-tab:hover,
  .toggle-tab.active-tab:focus {
    height:40px  !important;
    padding:6px 0;
    line-height:14px !important;
      box-shadow: 0 -1px 1px 0 rgba(0,0,0,0.5), 0 -2px 1px 1px rgba(0,0,0,0.1);
  }

}











