@charset "utf-8";
/* CSS Document */


/* ------------------------------------------------------- */
/* ------------- Main Home (Map) Page Styles ------------- */
/* ------------------------------------------------------- */
/*Temporary Last Update Pseudo*/
#button-i:after{
 content:"Last Updated: August 25, 2020, 10:12:00 EST";
 position:absolute;
 display:block;
 left:100%;
 top:35%;
 width:auto;
 white-space:nowrap;
 font-size:11px;
 color:#fff;
}

@media(max-width:767px){
  #button-i:after{
  display:none;
  }
}

html{overflow-x:hidden;}
#mapMain {height: 100vh; width:100%; border: none;}

@media(max-width: 768px){
html, body{height:100%;}
#mapMain { height: 100%; width:100%;}
}

html, body, .leaflet-container {
  background:#303030 !important;
}




/* ----------------------------- */
/* -------- Info Pane ---------- */
/* ----------------------------- */

#infoPane {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  height: auto;
  max-height: 98vh;
  /*max-height: calc(98vh * 1.1);*/
  width: 390px;
  top: 1vh;
  right: 1vw;
  background: rgba(38, 38, 38, .8);
  box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, .2), 0 -1px 10px 0 rgba(0, 0, 0, .2);
  overflow-x: hidden;
  overflow-y: auto;
}

.info {
  position: relative !important;
  display: block !important;
  order: 1;
  width: 100%;

  height: auto;
  padding: 0px 0px;
  margin: 0 0 10px 0 !important;
  border-radius: 0px;
  /*background:#eee;*/
  background: transparent;
  opacity: 1;
  transition: .3s ease background .1s;
}

.info.infoActive {
  /*background: #fafafa;*/
  background: transparent;
  transition: .2s ease background;
}

.info b.diff {
  font-style: normal;
  color: #E3282B;
  font-weight: 500;
}

/* State + County Cases Info Box (Shared) */

.info #title,
.info #statecases,
.info #countycases {
  margin: 0 0 0 0;
  background: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
     padding: 15px 12.5px 12.5px 12.5px;
}

.info #statecases,
.info #countycases{
  display:flex;
  flex-flow:row wrap;
  justify-content:space-between;
}

.info #title h1,
.info #statecases h2,
.info #statecases p,
.info #countycases h3,
.info #countycases p {
  padding: 0;
  color: #fff;
  line-height: 100%
}

/* State Cases Info Box (Only)*/

.info #title h1 {
  margin: 0 0 0 0;
  font-size: 24px;
  font-weight: 600;
}

  /*.info #title h1 img*/
  #mdflag{
  position:absolute;
  /*height:28px;*/
  width:16%;
  top:10px;
  right:10px;
  opacity:.9;
  border-radius:3px;
  /*box-shadow:0 0 0px 1px rgba(255,255,255,0.6);*/
}

.info #statecases h2 {
  width:100%;
  margin: 2.5px 0 0 0;
  font-size: 20px;
  font-weight: 600;
}

.info #statecases h2 i {
  font-style: normal;
  font-size: 16px;
  /*color:#767676;*/
  color: #ddd;
  font-weight: 500;
}

/* County Cases  Info Box */
.info #countycases h3 {
  position:relative;
  display:block;
  order:1;
  flex-basis:90%;
  flex-shrink:1;
  width:90%;
  height: 18px !important;
  line-height:18px;
  font-size: 18px;
  margin: 2.5px 0 0 0;
  font-weight: 600;
}

.info #countycases p {
  order:3 !important;
  font-weight: 400; 
}

/* Info State + County Shared Styles */
.info #statecases p,
.info #countycases p{
  margin: 15px 0 0 0;
  font-size: 16px
}

.info #statecases p small,
.info #countycases p small{
  margin: 15px 2px 0 0;
  font-size:12px;
  color:#ddd;
}

.info #statecases p:nth-child(2),
.info #countycases p:nth-child(3){
  width:52%;
}

.info #statecases p:nth-child(4),
.info #countycases p:nth-child(5){
  width:45%;
}

.info #statecases .sep,
.info #countycases .sep{
  position:absolute;
  display:inline-block;
  align-self:flex-end;
  order:3;
  width:1px;
  height:36px;
  margin-top:13px !important;
  background:rgba(255,255,255,0.2);
  left:51%;
}

#boxChartIcon1{
  position:relative;
  display:block;
  order:2;
  flex-basis:10%;
  flex-shrink:0;
  flex-grow:1;
  z-index:3000;
}
#chartIconLine1{
  position:relative;
  display:block;
  float:right;
  width:18px;
  height:18px;
  margin-right:4px;
  padding: 0;
  text-decoration: none !important;
  background-image: url("../img/charticonline-md1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .7;
}
#chartIconLine1:hover,
#chartIconLine1:focus{
  opacity:1;
  transition:.2s ease opacity;
}

/* Placholder County Title */

.info #countycases h3 i,
.info #countycases p i,
.info #countycases h3 i span {
  font-style: normal;
}

.info #countycases h3 i,
.info #countycases h3 i span {
  /*color:#444;*/
  color: #ccc !important;
}

.info #countycases h3 i span {
  font-size: 12px;
}

.info #countycases p i {
  color: #555;
}

.stdcharts {
  position: relative;
  order: 2;
  z-index: 1000;
  width: 100%;
  height: auto;
  left: 0;
  bottom: 0;
  padding: 10px 0 15px 0;
  background: rgba(38, 38, 38, 0);
}

#cumulchart {order: 3;}

#dailychart {order: 2;}

#hospchart {order: 4;}

#dailyhospchart {order: 5;}

.stdcharts h2{
  position:relative;
  display:block;
  margin:0;
  padding:0;
  color:#fff;
  font-size:16px;
  text-align:center;
  line-height:100%;
}


.container-toggle-tabs,
.box-toggle-tabs,
.toggle-tabs {
  display: none;
}



@media (max-height:860px) {
  #infoPane {
    overflow-y: scroll;
    height: auto;
    max-height: 100vh;
    top: 0vh;
    right: 0vh;
  }
  .info {
    min-height: auto;
    height: auto;
  }

}

@media(min-width: 1600px) {
  #infoPane {
    width: 400px;
  }
  .info #statecases p:nth-child(2),
  .info #countycases p:nth-child(3){
    width:52%;
  }
  .info #statecases p:nth-child(4),
  .info #countycases p:nth-child(5){
    width:45%;
  }
  .info #statecases .sep,
  .info #countycases .sep{
    margin-top:13px !important;
    left:51%;
  }  
}


@media(max-width: 992px) {
  #infoPane {
    width: 380px;
  }
  /*.info #title h1 img*/
  #mdflag{
    width:16%;
    top:15px;
    right:5px;
  }
  .info #title,
  .info #countycases,
  .info #statecases {
    padding: 15px 12.5px 12.5px 12.5px;
  }
  .info #statecases p,
  .info #countycases p{
  }
  #chartIconLine1{
    margin-right:0px;
  }
}

@media(max-width: 768px) {
  #infoPane {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    min-height: auto;
    top: initial;
    bottom: 16px;
    left: 0;
    right: 0;
    overflow-y: hidden;
    background: rgba(38, 38, 38, 1.00);
  }
  .info {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    order: 1;
    width: 100%;
    min-height: initial;
    margin-bottom:0 !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
  }
  .info.infoActive {}
  /* State + County Cases Info Box (Shared) */
  .info #title,
  .info #countycases,
  .info #statecases {
    position: relative;
    display: block;
    width: 50%;
    margin: 0 0 0 0;
    border-bottom: none;
    background: transparent;   
    padding: 15px 17.5px 15px 17.5px;
  }
  .info #title {
    width: 100%;
    padding: 10px 3vw 10px 3vw !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .info #title h1 {
    padding: 0 !important;
    margin: 0 !important;
    color: #fff;
    font-size: 22px;
  }
  /*.info #title h1 img*/
  #mdflag{
    width:50px;
    top:7.5px;
    right:5px;
  }
  .info #countycases,
  .info #statecases {
    width: 50%;
    padding: 7.5px 3vw 10px 3vw;
  }
  .info #statecases {
    border: 2;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }
  .info #statecases h2 {
    margin: 5px 0 0 0;
    font-size: 18px;
    color: #fff;
  }
  .info #statecases h2 i {
    font-size: 12px;
    color: #ddd;
  }
  .info #statecases p {
    width:100% !important;
    margin: 10px 0 0 0;
    font-size: 15px;
    color: #fff;
  }
  .info #countycases {
    order: 3;
  }
  .info #countycases h3 {
    width:80%;
    flex-basis:80%;
    margin: 5px 0 0 0;
    line-height:18px;
    font-size: 16px;
    color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .info #countycases h3 i {
    margin: 5px 0 0 0;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
  }
  .info #countycases h3 i span {
    font-size: 12px;
  }
  .info #countycases p {
    width:100% !important;
    font-size: 14px;
    line-height:16px;
    margin: 10px 0 0 0;
    color: #fff;
  }
  #chartIconLine1{
    height: 24px;
    width: 24px;
    background-size:18px;
    opacity: .7;
  }
  .info #statecases .sep,
  .info #countycases .sep{
    display:none;
  }    
  .container-toggle-tabs {
    display: block;
    z-index: 2000;
    order: 2;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 18%;
    padding: 0 !important;
    margin: 0 !important;
    background: rgba(30, 30, 30, 1.00);
    width: auto;
    box-shadow:-1px 0px 1px 0 rgba(0,0,0,0.3) inset;
  }
  .box-toggle-tabs {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
    
  }
  .toggle-tab {
    padding: 15px 1vw 15px 0px;
    margin: 0;
    list-style: none;
    text-align: right;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
  }
  .toggle-tab:hover,
  .toggle-tab.active-tab {
    background: rgba(38, 38, 38, 1);
    box-shadow:-2px 1px 1px 0 rgba(0,0,0,0.3);
  }
  .tab-content {
    display: none !important;
  }
  .tab-content.active-tab-content {
    display: block !important;
  }
  .stdcharts {
    position: relative;
    display: block;
    flex-grow: 0;
    /* flex-basis: 75%;*/
    width: 82%;
    order: 3;
    /*height:100%;*/
    margin: 0 !important;
    padding: 15px 1vw;
    transition: .1s linear height 1s;
  }
  .stdcharts canvas {
    max-width: 500px;
    margin: 0 auto;
    padding: 0;
  }
  #hospchart {
   display:flex;
  }
  #hospchart canvas {
   align-self:flex-end;
  }
  .stdcharts h2{
    margin:0;
    padding:0;
    font-size:15px;
  }

}

@media(max-width: 575px) {
  .info #countycases,
  .info #statecases {
    width: 50%;
    padding: 7.5px 1.5vw 10px 3vw;
  }
  #chartIconLine1{
    height: 22px;
    width: 22px;
    background-size:15px;
  }
  .container-toggle-tabs {
    flex-basis: 20%;
  }
  .toggle-tab {
    font-size: 2.5vw;
  }
  .stdcharts {
    width: 80%;
    padding: 15px 1vw;
  }

}



/* ----------------------------- */
/* County Name and Case # Labels */
/* ----------------------------- */

.leaflet-tooltip {
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
  width: 300px;
  height: 44px;
}

.leaflet-tooltip h5,
.leaflet-tooltip p.mapCases {
  line-height: 100%;
  text-align: center;
  color: #fff;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 1), 0px 0px 2px rgba(0, 0, 0, .2), 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 10px rgba(0, 0, 0, 0.4);
}

.leaflet-tooltip h5 {
  margin: 0;
  font-size: 12px;
  font-weight: 600;
}

.leaflet-tooltip p.mapCases {
  margin: 0px 0 0 0;
  font-size: 16px;
  font-weight: 600;
}

@media(max-width: 768px) {
  .leaflet-tooltip h5 {
    display: none;
  }
  .leaflet-tooltip p.mapCases {
    margin: 5px 0 0 0 !important;
    font-size: 14px;
    font-weight: 600;
  }
}

/* The following rules attempt to account for mobile devices in landscape ...*/
/* ... without including browser windows that have been resized vertically */
@media(max-width:991px) and (max-height: 575px) {
  .leaflet-tooltip h5 {
    display: none;
  }
  .leaflet-tooltip p.mapCases {
    margin: 5px 0 0 0 !important;
    font-size: 14px;
    font-weight: 600;
  }
}

@media(max-width: 575px) {
  .leaflet-tooltip p.mapCases {
    margin: 0px 0 0 0;
    /*font-size:5vw !important;*/
    font-weight: 600;
  }
}

/* --- Styles for map attribution text + links --- */
.leaflet-bottom.leaflet-right {
  position: absolute !important;
  left: 0 !important;
  right: initial;
}

.leaflet-control-attribution,
.leaflet-control-attribution a {
  font-size: 10px !important;
  color: #bbb !important;
  background-color: transparent !important;
}

.leaflet-control-attribution a {
  text-decoration: underline !important;
}

/* --- Styles for map zoom controls --- */
.leaflet-bottom.leaflet-left{
  bottom:20vh;
}

/*.leaflet-control-zoom-in,
.leaflet-control-zoom-out{
  background:rgba(255,255,255,1) !important;
  border-radius:1px !important;
  opacity:.7;
}*/


@media(max-width: 768px) {
  .leaflet-bottom.leaflet-right {
    position: absolute !important;
    left: initial !important;
    right: 0 !important;
  }
  .leaflet-control-attribution {
    width: 100vw;
    height: 16px;
    text-align: center;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }
  .leaflet-control-attribution,
  .leaflet-control-attribution a {
    font-size: 10px !important;
  }
}





.linkExpChart {
  position: absolute;
  z-index: 3000;
  display: block;
  top: 10px;
  right: 19.5px;
  height: 15px;
  width: 15px;
  text-decoration: none !important;
  background-image: url("../img/expand.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .7;
  transition: .1s linear all, .3s ease opacity;
}

.linkExpChart:hover,
.linkExpChart:focus {
  top: 9px;
  right: 18.5px;
  height: 17px;
  width: 17px;
  color: #fff;
  font-weight: 600;
  opacity: 1;
  transition: .1s linear all, .3s ease opacity;
}

.linkExpChart:focus {
  outline:1px dashed rgba(255,212,105,.3) !important;
  outline-offset:4px;
}


#linkNewFeature{
  position:absolute;
  z-index:3020;
  top:10px;
  left:50px;
  width:auto;
  padding: 0 7.5px;
  line-height:20px;
  text-align:left;
  font-size:14px;
  font-weight:500;
  color:#6BE572;
  text-decoration: underline;
  background:rgba(0,0,0,0.2);
  border-radius:4px;
}

@media(max-width: 992px){
  .linkExpChart {
    right: 12.5px;
  }
  .linkExpChart:hover,
  .linkExpChart:focus {
    right: 11.5px;
  }
}

@media(max-width: 767px) {
  
  .linkExpChart {
    top: 10px;
    right: 3vw;
    height: 24px;
    width: 24px;
    background-size:16px;
  }
  .linkExpChart:hover,
  .linkExpChart:focus {
    top: 10px;
    right: 3vw;
    height: 24px;
    width: 24px;
    background-size:16px;
  }  
  
  
  #linkNewFeature{
    top:5px;
    left:5px;
    width:auto;
  }
}
@media(max-width: 767px) {
  .linkExpChart {
    top: 9px;
    right: 1.5vw;
    height: 22px;
    width: 22px;
    background-size:14px;
  }
  .linkExpChart:hover,
  .linkExpChart:focus {
    top: 9px;
    right: 1.5vw;
    height: 22px;
    width: 22px;
    background-size:15px;
  }  
}



/*--- Cumulative & Daily Chart Custom Legends --- */
#legendContainerCumul,
#legendContainerDaily,
#legendContainerHosp,
#legendContainerDailyHosp{

  height:auto;
  z-index:3000;
  margin:0px auto 0px auto;
}
#legendContainerCumul,
#legendContainerHosp,
#legendContainerDailyHosp{
  width:95%;
  /*max-width:600px;*/
}

#legendContainerDaily{
  width:90%;
  /*max-width:500px;*/
}

#legendContainerCumul> ul,
#legendContainerDaily> ul,
#legendContainerHosp> ul,
#legendContainerDailyHosp > ul{
  display:flex;
  justify-content:space-around;
  flex-flow: row wrap;
  padding:0;
  margin:0!important;
}

/* Chart Legend Items + Text Style */
#legendContainerCumul li,
#legendContainerDaily li,
#legendContainerHosp li,
#legendContainerDailyHosp li{
  display:block;
  flex-grow:0;
  flex-basis:auto;
  margin:0 0 0 0;  
  padding:5px 0px;  
  cursor: pointer;
  color:#fff;
  font-size:14px;
  font-weight:500;
}

#legendContainerCumul li.hiddentrue,
#legendContainerDaily li.hiddentrue,
#legendContainerHosp li.hiddentrue,
#legendContainerDailyHosp li.hiddentrue{
  color:rgba(255,255,255,0.5)
} 

#legendContainerCumul li:hover,
#legendContainerDaily li:hover,
#legendContainerHosp li:hover,
#legendContainerDailyHosp li:hover{
  text-decoration:underline;
}

/*Hiding First 3 Legend Entries (Replaced by toggle)*/
#legendContainerDaily li:nth-child(1),
#legendContainerDaily li:nth-child(2),
#legendContainerDaily li:nth-child(3) {display:none;}

/*#legendContainerDaily li:nth-child(4) {order:1;}
#legendContainerDaily li:nth-child(5) {order:2;}
#legendContainerDaily li:nth-child(6) {order:3;}*/


/* - Daily Legend Item Shape Style (Also ".legendSquareDaily") - */
#legendContainerCumul li span,
#legendContainerDaily li span,
#legendContainerHosp li span,
#legendContainerDailyHosp li span{
  position: relative;
  display:inline-block;
  padding: 0;
  z-index: 1000;
  transition:.1s ease background;
}
#legendContainerCumul li span,
#legendContainerDaily li span.legSq,
#legendContainerHosp li span,
#legendContainerDailyHosp li span{
  border:2px solid;
}

  /*-----------------------------------------------------------*/
  /*-------- Daily Chart Moving Avg Check Toggle Style --------*/
  /*-----------------------------------------------------------*/
  #legendContainerDaily li span.legCheck{
    border:1px solid rgba(255,255,255,0.4);
    border-radius:2px;
  }
  #legendContainerDaily li.avgOn span.legCheck{
    border:1px solid rgba(255,255,255,0.6);
    border-radius:2px;
  }
  /*Daily Chart Pseudoelement to Create Check Mark*/
  #legendContainerDaily li.avgOn span.legCheck:after {
    content:"";
    position: absolute;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border: solid #fff;
    border-width: 0 0 2px 2px !important;
    height: 5px;
    width: 10px;
    margin: 1px 0 0 0;
    z-index:3000;
    opacity:1;
    transition:.2s ease opacity;
  }
  #legendContainerDaily li.avgOn:hover span.legCheck:after {
    opacity:.7;
    transition:.2s ease opacity;
  }
  /*-----------------------------------------------------------*/
  /*-----------------------------------------------------------*/
  
#legendContainerCumul li span,
#legendContainerHosp li span {
  height:13px;
  width:13px;
  margin:0 5px -2px 0;
  border-radius:50%;}

#legendContainerDaily li span,
#legendContainerDailyHosp li span{
  height:12px;
  width:12px;
  margin:0 5px -1px 0;
  border-radius:0%;}

#legendContainerCumul li:hover span,
#legendContainerDaily li:hover span.legSq,
#legendContainerHosp li:hover span,
#legendContainerDailyHosp li:hover span{
  border:2px solid;
  filter:brightness(90%);
}

#legendContainerCumul li.hiddentrue span,
#legendContainerDaily li.hiddentrue span,
#legendContainerHosp li.hiddentrue span,
#legendContainerDailyHosp li.hiddentrue span{
  border:2px solid;
  background:transparent !important;
  filter:brightness(60%);
}

#legendContainerCumul li.hiddentrue:hover span,
#legendContainerDaily li.hiddentrue:hover span,
#legendContainerHosp li.hiddentrue:hover span,
#legendContainerDailyHosp li.hiddentrue:hover span{
    filter:brightness(80%);
}

/*@media (max-width: 991px){}*/

@media (max-width: 767px){
  #legendContainerDaily{
    width:70%;
  }
  #legendContainerHosp,
  #legendContainerDailyHosp{
    width:60%;
  }
}

@media (max-width: 575px){
  #legendContainerCumul{
    width:100%;
  }
  #legendContainerDaily{
    width:100%;
  }
  #legendContainerHosp,
  #legendContainerDailyHosp{
    width:76%;
  }
  #legendContainerCumul> ul,
  #legendContainerDaily> ul,
  #legendContainerHosp> ul,
  #legendContainerDailyHosp> ul{
    padding:0;
    justify-content:space-around;
  }
  #legendContainerCumul li,
  #legendContainerDaily li,
  #legendContainerHosp li,
  #legendContainerDailyHosp li{
    flex-basis:auto;
    padding:3.5px 0px;
    font-size:13px;
  }
  #legendContainerCumul li span,
  #legendContainerDaily li span,
  #legendContainerHosp li span,
  #legendContainerDailyHosp li span{
    margin:0 5px -1px 0;
    height:12px;
    width:12px;
  }
}

@media(max-width:370px){
  #legendContainerCumul li,
  #legendContainerDaily li,
  #legendContainerHosp li,
  #legendContainerDailyHosp li{
    font-size:12px;
  }
  #legendContainerCumul li span,
  #legendContainerDaily li span,
  #legendContainerHosp li span,
  #legendContainerDailyHosp li span{
      margin:0 3px -1px 0;
  }
}

